.chat-wrapper, .current-playlist {
  height: 200px;
  background: grey;
  overflow-y: scroll;
  ul {
    padding: 0;
  }
  li {
    list-style: none;
  }
}

.request-line {
  .row {
    margin: 0;
  }
  .request-light {
    background: red;
    height: 50px;
    width: 50px;
    -webkit-border-radius: 5px;
    border-radius: 100%;
    padding: 0;
  }
}